/* You can add global styles to this file, and also import other style files */
button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 5px 5px 5px 0px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
button:hover{
    background-color: rgb(168, 177, 255);
}

a{
    text-decoration:none;
}